<!DOCTYPE html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container">
    <h2>Todo List Report</h2>
    <p>List of all todos:</p>
    <table class="table">
        <thead>
        <tr>
            <th>Sr No.</th>
            <th>Project</th>
            <th>Todo</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < items.length; i++) { %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= items[i].project_id.title %></td>
            <td><%= items[i].text %></td>
            <td><%= items[i].completed %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
</body>
</html>