#panell{
    margin-top: 100px;
    padding: 0px;
  }
  #loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
#registerbtn{
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
  #title{
    background-color: #a29bfe;
    color: white;
    padding: 8px;
    margin-top: 0px
  }
  form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  #username,#password,#fullname{
   margin-left: 20px;
   margin-right: 20px;
  }
  #checkbox{
   margin-left: 30px;
  }

  nav{
    background-color: #a29bfe;
  }


  .aSpacing {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

.btnColor{
  background-color: #6c5ce7;
}

.btn:hover{
  background-color: #a29bfe;
}


.completedColor{
  background-color: #2ecc71;
}

.incompletedColor{
  background-color: #e74c3c;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.todoText{
  width: 300px!important;
  margin: 0px!important;
  height: 25px!important;
}

.todoCompleteStyle{
  text-decoration: line-through;
  color: #2ecc71;
}
.todoInCompleteStyle{
  text-decoration: none;
  color: #fa755a;
}